
@CHARSET "UTF-8";

/*
 * design by.shi twitter. https://twitter.com/chika15216/
 */
 
 /*border-bottom: 1px dotted black; border-collase:collase; padding-top:5px; padding-bottom:10px*/

			body {
			  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
			  color: #000000;  /* h,로그인 상태유지,아래 문구*/
			  background: #ffffff; /*전체 배경*/
			}
			
				h3 {    
				line-height: 40px;
				font-size: 30px; /*폰트 사이즈*/
				font-weight: bold;
				color: #000000;
				text-align: center;/*위치*/
				text-shadow: 0 1px white;
				background: #ffffff;
				border-bottom: 3px solid #cfcfcf;
				border-radius: 3px 3px 0 0;
			  }
			  
			  
			  a{
			  text-align:right;
			  }
			  
			  form.goods{
			  text-align:center;
			  }
			
			table {

 	            width:1500px; 
 	            margin:30px auto; 
 	            text-align:center;
			}
			table th {
				background-color:#c0c0c0;
				color:#000000
			}
			table td
			{
				font-size:0.95em;
				text-align:center;
				padding:4px;
				border:2px solid #c0c0c0;
				border-collapse:collapse
			}
