@CHARSET "UTF-8";

/*
 * design by.shi twitter. https://twitter.com/chika15216/
 */


			body {
			  font: 13px/20px 'Lucida Grande', Tahoma, Verdana, sans-serif;
			  color: #000000;  /* h,로그인 상태유지,아래 문구*/
			  background: #ffffff; /*전체 배경*/
			}
			
			.container {          /*container section 전체 */
			  margin: 250px auto; /*위 패딩*/
			  width: 350px;   /*로그인 범위 넓이*/
			}
			
			.login {
			  position: relative;  /*login class*/
			  margin: 0 auto;
			  padding: 20px 20px 20px;
			  width: 350px;  /*로그인폼 넓이*/
			}

			
			  h1 {    /*login 폼안의 제목*/
				margin: -20px -20px 21px;
				line-height: 40px;
				font-size: 30px; /*폰트 사이즈*/
				font-weight: bold;
				color: #000000;
				text-align: center;/*위치*/
				text-shadow: 0 1px white;
				background: #ffffff;
				border-bottom: 3px solid #cfcfcf;
				border-radius: 3px 3px 0 0;
			  }
			
			  p { margin: 20px 0 0; }
			  p:first-child { margin-top: 0; }
			
			  input[type=text], input[type=password] { width: 278px; }
		
			
				input {
				  position: relative;
				  bottom: 1px;
				  margin-right: 4px;
				  vertical-align: middle;
				}
			  }
			
			  p.submit { text-align: right; }
			}
			
			.login-help {
			  margin: px 0;
			  font-size: 10px;
			  color: white;
			  text-align: center;
			  text-shadow: 0 1px #000000;
			
			  a {
				color: #cce7fa;
				text-decoration: none;
				&:hover { text-decoration: underline; }
			  }
			}
			
			input {
			  font-family: '돋움', Tahoma, Verdana, sans-serif;
			  font-size: 14px;
			}
			
			input[type=text], input[type=password] {
			  margin: 5px;
			  padding: 0 10px;
			  width: 200px;
			  height: 34px;
			  color: #404040;
			  background: white;
			  border: 1px solid;
			  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
			  border-radius: 2px;
			  outline: 5px solid #eff4f7;
			  -moz-outline-radius: 3px; // Can we get this on WebKit please?
			  @include box-shadow(inset 0 1px 3px rgba(black, .12));
			
			  &:focus {
				border-color: #7dc9e2;
				outline-color: #dceefc;
				outline-offset: 0; // WebKit sets this to -1 by default
			  }
			}
			
			input[type=submit] { /*로그인 버튼 */
			  padding: 0 18px;
			  height:18px;
			  font-size: 15px;
			  font-weight: bold;
			  color: #000000; /*글자 색상*/
			  background: #ffff80;/*바탕 색상*/
			  border: 1px solid;
			  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
			  border-radius: 16px;
			  outline: 0;
			  @include box-sizing(content-box); // Firefox sets this to border-box by default
			  @include linear-gradient(top, #edf5f8, #cde5ef);
			  @include box-shadow(inset 0 1px white, 0 1px 2px rgba(black, .15));
			
			  &:active {
				background: #cde5ef;
				border-color: #9eb9c2 #b3c0c8 #b4ccce;
				@include box-shadow(inset 0 0 3px rgba(black, .2));
			  }
			}
			
			.lt-ie9 {
			  input[type=text], input[type=password] { line-height: 34px; }
			}
			
 